<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <form action="/login" method="post">
        <label for="">Email</label>
        <input type="email" name="email" id="">
        <label for="">Password</label>
        <input type="text" name="password" id="">
        <button type="submit">SignIN</button>
        </form>
        <form action="/register" method="get">
        <button type="submit">
            Do not have an account
        </button>
    </form>
</body>
</html>